In [19]:
import pandas as pd

data = pd.read_csv('csv/student.csv')
print(data)
print(data["grade"])

#data.to_pickle('student.pickle')

   NO student  grade
0   1       A     85
1   2       B     56
2   3       C     45
3   4       D     78
4   5       E     98
5   6       F     25
6   7       G     65
7   8       H     44
8   9       I     22
9  10       J     33
0    85
1    56
2    45
3    78
4    98
5    25
6    65
7    44
8    22
9    33
Name: grade, dtype: int64

In [23]:
import pandas as pd
import numpy as np

#concatenating
df1 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2,columns=['a','b','c','d'])
print(df1)
print(df2)
print(df3)
res = pd.concat([df1,df2,df3],axis=0,ignore_index=True)
print(res)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
     a    b    c    d
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [31]:
import pandas as pd
import numpy as np

#join, ['inner','outer']
df1 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'], index=[1,2,3])
df2 = pd.DataFrame(np.ones((3,4))*1,columns=['b','c','d','e'], index=[2,3,4])
print(df1)
print(df2)

res = pd.concat([df1,df2], join='outer')
res1 = pd.concat([df1,df2], join='inner',ignore_index=True)
print(res)
print(res1)

     a    b    c    d
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
     b    c    d    e
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
     a    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  0.0  0.0  0.0  0.0  NaN
2  NaN  1.0  1.0  1.0  1.0
3  NaN  1.0  1.0  1.0  1.0
4  NaN  1.0  1.0  1.0  1.0
     b    c    d
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  1.0  1.0  1.0
4  1.0  1.0  1.0
5  1.0  1.0  1.0

In [38]:
import pandas as pd
import numpy as np

#join_axes
df1 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'], index=[1,2,3])
df2 = pd.DataFrame(np.ones((3,4))*1,columns=['b','c','d','e'], index=[2,3,4])
res = pd.concat([df1,df2], axis=1, join_axes=[df1.index])
print(res)

     a    b    c    d    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [44]:
import pandas as pd
import numpy as np

#append
df1 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2,columns=['a','b','c','d'])

res = df1.append([df2,df3], ignore_index=True)




print(res)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [48]:
import pandas as pd
import numpy as np

#append
df1 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
s1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
s2 = pd.Series([5,6,7,8], index=['a','b','c','d'])
s3 = pd.Series([10,20,30,40], index=['a','b','c','d'])
s4 = pd.Series([11,22,33,44], index=['a','b','c','d'])
res = df1.append([s1,s2,s3,s4], ignore_index=True)
print(res)

      a     b     c     d
0   0.0   0.0   0.0   0.0
1   0.0   0.0   0.0   0.0
2   0.0   0.0   0.0   0.0
3   1.0   2.0   3.0   4.0
4   5.0   6.0   7.0   8.0
5  10.0  20.0  30.0  40.0
6  11.0  22.0  33.0  44.0

In [51]:
import pandas as pd
import numpy as np

#merging two df by key/keys.(may be used in database)
#simple example
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'C':['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

print(left)
print(right)
res = pd.merge(left,right,on='key')
print(res)

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [63]:
import pandas as pd
import numpy as np

#merging two df by key/keys.(may be used in database)
#consider two keys
left = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2':['K0','K1','K0','K1'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key1':['K0','K1','K1','K2'],
                      'key2':['K0','K0','K0','K0'],
                     'C':['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

print(left)
print(right)
#how=['left','right','outer','inner',]
res = pd.merge(left,right,on=['key1','key2'], how='left')
print(res)

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K0   K1
2  A2  B2   K1   K0
3  A3  B3   K2   K1
    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

In [68]:
import pandas as pd
import numpy as np

#merging two df by key/keys.(may be used in database)
#indicator
df1 = pd.DataFrame({'col1':[0,1],'col_left':['a','b']})
df2 = pd.DataFrame({'col1':[1,2,2],'col_right':[2,2,2]})
print(df1)
print(df2)
#res = pd.merge(df1, df2, on='col1', how='outer', indicator=True)
#give the indicator a custom name
res = pd.merge(df1,df2, on='col1', how='outer', indicator='indicator_column' )
print(res)

   col1 col_left
0     0        a
1     1        b
   col1  col_right
0     1          2
1     2          2
2     2          2
   col1 col_left  col_right indicator_column
0     0        a        NaN        left_only
1     1        b        2.0             both
2     2      NaN        2.0       right_only
3     2      NaN        2.0       right_only

In [75]:
import pandas as pd
import numpy as np

#merging two df by key/keys.(may be used in database)
#merged by index
left = pd.DataFrame({'A':['A0','A1','A2'],
                     'B':['B0','B1','B2']},
                      index=['K0','K1','K2'])
right = pd.DataFrame({'C':['C0','C1','C2'],
                     'D':['D0','D1','D2']},
                      index=['K0','K2','K3'])

print(left)
print(right)
#left_index and right_index
#res = pd.merge(left,right,left_index=True,right_index=True, how='outer')
res = pd.merge(left,right,left_index=True,right_index=True, how='inner')
print(res)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2
     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1

In [78]:
import pandas as pd
import numpy as np

#merging two df by key/keys.(may be used in database)
#handle overlapping
boys = pd.DataFrame({'k':['K0','K1','K2'], 'age':[10,20,30]})
girls = pd.DataFrame({'k':['K0','K0','K3'], 'age':[40,50,60]})

res = pd.merge(boys, girls, on='k',suffixes=['_boy','_girl'],how='outer' )
print(boys)
print(girls)
print(res)

   age   k
0   10  K0
1   20  K1
2   30  K2
   age   k
0   40  K0
1   50  K0
2   60  K3
   age_boy   k  age_girl
0     10.0  K0      40.0
1     10.0  K0      50.0
2     20.0  K1       NaN
3     30.0  K2       NaN
4      NaN  K3      60.0